@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  max-height: 100vh;
  max-width: 100vw;
  background: #141414;
  /* background-image: linear-gradient(to bottom, #141414, #141414, #141414); */
}
.Header_container {
  background-image: linear-gradient(to bottom, #141414, #222222, #141414);
}

.nav {
  display: flex;
}
.main h3 {
  color: rgb(230, 83, 60);
  font-size: 20px;
  font-weight: 800;
  font-style: italic;
}
.main {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.nav_item {
  list-style: none;
  margin-right: 40px;
}
.nav li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 400;
}
.nav_link {
  border-radius: 50px;
  background: rgb(230, 83, 60);
  padding: 4px 12px;
}
.nav_heading {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 900;
  text-align: left;
}
.nav_p {
  color: rgba(255, 255, 255, 0.5);

  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  margin-top: 28px;
}
.header_second {
  padding-top: 50px;
}
.miama {
  font-family: "Miama", sans-serif;
  line-height: 120%;
  font-size: 80px;
  letter-spacing: 5px;
  font-weight: 300;
}
.btn_join {
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  padding: 10px 25px;
  margin-top: 28px;
  border-style: none;
}
.btn_app {
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  background: transparent;
  padding: 10px 25px;
  color: rgb(255, 255, 255);
  margin-top: 28px;
}
.flex_section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 32px 150px 0 150px;
}
.header_img {
  height: 500px;
  width: 300px;
}
.header_div {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  height: 80px;
  width: 180px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 10px;
  position: absolute;
  bottom: 100px;
  right: 236px;
}
.one {
  width: 30px;
  height: 30px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
  margin-right: 10px;
}
.header_div2 h4 {
  font-size: 15px;
  font-weight: 900;
  line-height: 15px;
  color: rgb(250, 250, 249);
}
.header_div p {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(239, 237, 232, 0.65);
}
.img_div {
  position: relative;
}
.nav_btn {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  width: 163px;
  height: 78px;
  position: absolute;
  bottom: 293px;
  left: 210px;
}
.nav_btn h4 {
  font-size: 20px;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  margin-left: 10px;
}
.nav_btn p {
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.65);
  margin-left: 10px;
}

/* Habit_container start here */

.Habit_container {
  height: 500px;
  width: 1100px;
  margin-top: 70px;
}
.habit_container,
h3 {
  font-size: 40px;
  font-weight: 900;
  line-height: 120%;
  color: rgb(255, 255, 255);
}
.habit_container,
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 10px;
}
.habit_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
}
.habit_img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1200px;
  margin: 40px 90px 0px 90px;
}
.habit_img img {
  /* width: 200px;
  height: 150px; */
  border-radius: 50%;
}
.habit_img > h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}
.habit_img p {
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.5);
}
.flex_habit {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.run_container {
  width: 960px;
  height: 351px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  margin: 0 auto;
}
.run_container img {
  width: 366px;
  height: 312px;
  border-radius: 18px;
  margin-top: 20px;
  object-fit: none;
  object-position: 67% 30%;
}
.run_container p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.run_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.run_extra {
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn_run {
  padding: 15px 50px;
  font-size: 17px;
}
.picture_container {
  display: grid;
}
.cal_heading,
h4 {
  font-size: 35px;
  font-weight: 900;
  line-height: 120%;
  color: rgb(255, 255, 255);
}
.cal_heading {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 30px;
}
.bmi_chart {
  margin-top: 150px;
  /* margin-bottom: 20px; */

  font-size: 35px;
  font-weight: 900;
  line-height: 100%;
  color: rgb(255, 255, 255);

  display: inline-block;
}
.bmi_flex2 {
  margin-bottom: 100px;
}
.chart_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.extra {
  text-align: left;
  margin-bottom: 30px;
}
.bmi_chart {
  display: flex;
  flex-direction: column;
}

.bmi_color {
  width: 100%;
  height: 600px;
  background: rgb(34, 34, 34);
  margin-top: 50px;
}
.bmi_data {
  width: 340px;
  height: 250px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  margin: 20px 0px;
}
.bmi_data > tr,
th {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.bmi_data > tr,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.5);
}
.bmi_data > tr,
th {
  color: rgb(255, 255, 255);
}
.bmi_data > tr,
td {
  text-align: center;
}
.bmi_flex {
  position: absolute;
  left: 100px;
}
.orgin_flex {
  position: relative;
}
.your_bmi {
  position: absolute;
  left: 500px;
  bottom: 10px;
  margin-top: 100px;
}
.input_area {
  width: 336px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 40px 12px 20px;
  background: rgba(255, 255, 255, 0.1);
  margin: 0px 12px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
  border: none;
  font-size: 15px;
}
/* .labelline {
  padding: 12px 40px 12px 20px;
  margin: 0px 10px;


  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
} */
.formone > select,
option {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
}
.formone {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.len {
  grid-column: 1 / span 2;
}
.chart_flex > h4 {
  margin-bottom: 20px;
  margin-top: 50px;
}
.calc_btn {
  width: 300px;
  margin-left: 5px;
}
.meet_heading {
  margin-right: 90px;
  margin-top: 50px;
}
.trainer_container {
  width: 1050px;
  /* height: 604px; */
  border-radius: 18px;
  color: rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.trainer_pic,
img {
  width: 326.67px;
  height: 272px;
  /* display: block; */
  border-radius: 18px;
  margin-left: 10px;
  background: rgba(0, 0, 0, 0.2);
}
.trainer_heading {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 12px;
  position: absolute;
  left: 50px;
  top: 200px;
}
.trainer_heading {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 12px;
  position: absolute;
  left: 100px;
  top: 200px;
}

.trainer_heading > h6 {
  color: rgba(255, 255, 255, 0.6);
}
.trainer_pic1 {
  /* width: 326.67px;
  height: 272px; */
  margin: 20px 0px;
  border-radius: 18px;
  color: rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  position: relative;
}
.trainer_pic2 {
  /* width: 326.67px;
  height: 272px; */
  margin: 20px 0px;
  border-radius: 18px;
  color: rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  position: relative;
}
.trainer_pic3 {
  /* width: 326.67px;
  height: 272px; */
  margin: 20px 0px;
  border-radius: 18px;
  color: rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  position: relative;
}
.trainer_pic4 {
  /* width: 326.67px;
  height: 272px; */
  margin: 20px 0px;
  border-radius: 18px;
  color: rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  position: relative;
}
.trainer_pic5 {
  /* width: 326.67px;
  height: 272px; */
  margin: 20px 0px;
  border-radius: 18px;
  color: rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  position: relative;
}
.trainer_pic6 {
  /* width: 326.67px;
  height: 272px; */
  margin: 20px 0px;
  border-radius: 18px;
  color: rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  position: relative;
}
